 @import url('https://fonds.googleapis.com/css2?family=Roboto&display=swap'); 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f8f8f84f;
    font-family: 'Tangerine',serif;
  
}
section.chat__section{
    width: 10px;
    max-width: 90%;
    background:#EFEAD8;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0,0,0, 0.05);
}
.brand{
  margin-left: 99px;
  text-align: center;
}
.sec{
    margin-bottom: 2px;
}
.ann{
    margin-top: 2px; 
}
h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;   
    text-align: center;
}
.message__area{
    height: 50px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 40px;
}
textarea{
    width: 94% ;
    border: none;
    padding: 5px;
     margin: 20px 5px 20px 40px;
    font-size: 16px;
    outline: blue;
    background: #fbfbfb;
}
.message{
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming{
    background: #6ee2f4;
    color: #fff;
    margin: 17px 5px;
    height: 6vh;
    padding: 10px;
    border: 2px solid white;
}
.outgoing{
    background:#0AA1DD;
    color: #ffffff;
    margin: 17px 1px;
    height: 6vh;
    padding: 10px;
    border: 2px solid white;

    margin-left: auto;
}
.message h4{
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
.container{
    max-width: 999px; 
    background-color: #31b7d2;
    margin: 20px 5px 20px 45px;
    height: 300px;
    padding: 10px;
    border: 2px solid white;
    overflow-y: scroll;
}